<h1>{{mode}}</h1>
<nav class="navbar nav-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: aliceblue">Application Form</h1>
    <div class="d-flex">
      <button type="button" class="btn btn-success" [routerLink]="'/main'">Return Home</button>
    </div>
  </div>
</nav>
<div class="form">
  <form [formGroup]="formValue">
    <div class="form-group">
      <div *ngIf="mode != 'new'">
        <label for="applicationNumber">Application Number:</label>
        <input id="applicationNumber" type="number" class="form-control" value="{{application.applicationNumber}}"
          [readonly]="mode != 'new'">
      </div>
    </div>
    <label for="applicationType">Application Type:</label>
    <div class="radio">
      <style>
        select:invalid {
          color: gray;
        }
      </style>
      <select formControlName="applicationType" class="form-control" id="applicationType"
        [attr.disabled]="mode == 'read' ? 'disabled' : null">
        <option value="">Please Select</option>
        <option value="Home Loan" [selected]="application.applicationType == 'Home Loan'">Home Loan</option>
        <option value="Personal Loan" [selected]="application.applicationType == 'Personal Loan'">Personal Loan</option>
        <option value="Business Loan" [selected]="application.applicationType == 'Business Loan'">Business Loan</option>
      </select>
      <div *ngIf="applicationType">
        <div *ngIf="applicationType.invalid && (applicationType.dirty || applicationType.touched)"
          class="alert alert-danger">
          <div *ngIf="applicationType.errors?.['required']">
            Please select an application type.
          </div>
        </div>
      </div>

      <!-- <div *ngIf="mode == 'read'" >
        <label for="amount">Amount:</label>
        <input id="amount" type="number" class="form-control" value="{{application.amount}}" [readonly]="mode == 'read'"
          required pattern="([0-9]{4,})">
        <div *ngIf="amount">
          <div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="alert alert-danger">
            <div *ngIf="amount.errors?.['required']">
              Amount is required.
            </div>
            <div *ngIf="amount.errors?.['pattern']">
              Amount must be larger than 1000.
            </div>
          </div>
        </div>
      </div> -->
      <label for="amount">Amount:</label>
      <input id="amount" type="number" class="form-control" [readonly]="mode == 'read'" formControlName="amount">
      <div *ngIf="amount">
        <div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="alert alert-danger">
          <div *ngIf="amount.errors?.['required']">
            Amount is required.
          </div>
          <div *ngIf="amount.errors?.['pattern']">
            Amount must be larger than 1000.
          </div>
        </div>
      </div>
      <label for="status">Status:</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="status" id="radio1" formControlName="status" value="Active"
          [checked]="application.status == 'Active'" [disabled]="mode == 'read'">
        <label class="form-check-label" for="inlineRadio1">Active</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="status" id="radio2" formControlName="status" value="Inactive"
          [checked]="application.status == 'Inactive'" [disabled]="mode == 'read'">
        <label class="form-check-label" for="inlineRadio2">Inactive</label>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>ID Type</th>
          <th>Gender</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicant of application.applicants; let applicantIndex = index;">
          <td>{{applicant.name}}</td>
          <td>{{applicant.identificationTypes}}</td>
          <td>{{applicant.gender}}</td>
          <td>
            <div *ngIf="mode != 'read'">
              <button type="button" class="btn btn-danger btn-sm mt-2"
                (click)="deleteApplicant(applicantIndex)">Remove</button>
              <button type="button" class="btn btn-primary btn-sm mt-2" style="color: white; background-color: blue;"
                (click)="editApplicant(applicantIndex)">Edit</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="mode == 'read'">
      <button type="button" class="btn btn-danger btn-sm mt-2" (click)="deleteApplication()">Delete</button>
      <button id="myButton" type="button" class="btn btn-danger btn-sm mt-2" (click)="editApplication()">Edit</button>
    </div>
  </form>
</div>


<div class="form" *ngIf="mode != 'read'">
  <form [formGroup]="formValue">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" formControlName="name" />
      <div *ngIf="name">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors?.['required']">
            Name is required.
          </div>
          <div *ngIf="name.errors?.['pattern']">
            Name must be in alphanumeric.
          </div>
        </div>
      </div>
      <div><label for="idType">Identification Type:</label></div>
      <div *ngFor="let identificationType of identificationTypes; let i = index" formArrayName="identificationTypes"
        style="display:inline">
        <input type="checkbox" class="btn-check" [formControlName]="i" id="option{{i}}">
        <label class="btn btn-outline-success" for="option{{i}}">{{identificationType}}</label>
      </div>

    </div>
    <div *ngIf=gender>

      <div class="form-group">
        <label>Gender</label>
        <style>
          select:invalid {
            color: gray;
          }
        </style>
        <select formControlName="gender" class="form-control">
          <option value="">Please Select</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Not Disclosed">Not Disclosed</option>
        </select>
      </div>
      <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="alert alert-danger">
        <div *ngIf="gender.errors?.['required']">
          Please select a gender option.
        </div>
      </div>
    </div>
    <div *ngIf="mode == 'edit' || mode == 'new' ">
      <button id="myButton" type="button" class="btn btn-danger btn-sm mt-2" (click)="addApplicant()">Add
        Applicant</button>
    </div>
    <div *ngIf="mode == 'editApplicant'">
      <button id="myButton" type="button" class="btn btn-danger btn-sm mt-2"
        (click)="updateApplicant(editApplicantIndex)">Update Applicant</button>
    </div>
    <div *ngIf="mode == 'new'">
      <button id="myButton" type="button" class="btn btn-danger btn-sm mt-2">Back</button>
      <button id="myButton" type="button" class="btn btn-danger btn-sm mt-2" (click)="createNewApplication()"
        [disabled]="!formValue.valid">Submit</button>
    </div>
    <div *ngIf="mode == 'edit'">
      <button id="myButton" type="button" class="btn btn-danger btn-sm mt-2">Back</button>
      <button id="myButton" type="button" class="btn btn-danger btn-sm mt-2" [disabled]="!formValue.valid"
        (click)="updateApplication()">Save</button>
    </div>
  </form>
</div>