<div class="form">
<form>
  <div class="form-group">
    <label for="name">Application Number:</label>
    <input type="number" class="form-control" value="1" readonly>
    <label for="text">Application Type:</label>
    <input type="name" class="form-control" value="Home Loan" readonly>
    <label for="amount">Amount:</label>
    <input type="number" class="form-control" value="50000" readonly>
    <label for="status">Status:</label>
    <input type="text" class="form-control" value="Active" readonly>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>ID Type</th>
        <th>Gender</th>
      </tr>
    </thead>
<tbody>
  <tr *ngFor="let application of application">
    <td>William Chau</td>
    <td>Australian Passport, Driver Licence</td>
    <td>Male</td>

    <button type="button" class="btn btn-primary btn-sm mt-2" style="color: white; background-color: blue;">Edit</button>

  </tr>
</tbody>
  </table>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="email" class="form-control" id="name" placeholder="William Chau" readonly>
    <label for="idType">Identification Type:</label>
  </div>
  <div class ="form-group">
    <input type="radio" class="btn-check" name="applicationID" id="option1" autocomplete="off">
    <label class="btn btn-outline-success" for="option1">Australian Passport</label>
    
    <input type="radio" class="btn-check" name="applicationID" id="option2" autocomplete="off">
    <label class="btn btn-outline-success" for="option2">Driver License</label>
    
    <input type="radio" class="btn-check" name="applicationID" id="option3" autocomplete="off">
    <label class="btn btn-outline-success" for="option3">Foreign Passport</label>
    
    <input type="radio" class="btn-check" name="applicationID" id="option4" autocomplete="off">
    <label class="btn btn-outline-success" for="option4">Foreign ID Card</label>
</div>
<div class="form-group">
  <label>Gender</label>
<style>
    select:invalid {color: gray;}
</style>
<select formControlName="gender" class="form-control" disabled>
<option value="" >Male</option>
</select>
</div>
</form>
</div>
